

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* ---------------- colors ---------------- */

$primary-color: hsl(26, 100%, 55%);
$primary-color-light: hsl(25, 100%, 94%);
$secondary-color: hsl(220, 13%, 13%);
$secondary-color-light: hsl(219, 9%, 45%);
$gray-color: hsl(220, 14%, 75%);
$gray-color-light: hsl(223, 64%, 98%);
$white-color: hsl(0, 0%, 100%);


/* ---------------- font styles ---------------- */

$font-size: 16px;
$font-regular: 400;
$font-bold: 700;
$font-family: 'Kumbh Sans', sans-serif;



